Source: virtualbox-ext-pack
Section: non-free/misc
Priority: extra
Maintainer: Unit 193 <unit193@ninthfloor.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://www.virtualbox.org

Package: virtualbox-ext-pack
Architecture: all
Pre-Depends: virtualbox (>= 4.3) | virtualbox-4.3
Depends: ${misc:Depends}
Description: support for USB 2.0 devices, VirtualBox RDP and PXE boot for Intel cards
 VirtualBox requires an extension pack in order to provide support for RDP,
 as well as USB 2.0 and PXE booting for Intel network cards, etc.
 This PUEL licensed extension pack is free for personal use.
