Source: virtualbox-ext-pack
Section: non-free/misc
Priority: extra
Maintainer: Debian Virtualbox Team <pkg-virtualbox-devel@lists.alioth.debian.org>
Uploaders: Unit 193 <unit193@ubuntu.com>
Build-Depends: debhelper (>= 9), po-debconf
Standards-Version: 3.9.6
Homepage: https://www.virtualbox.org

Package: virtualbox-ext-pack
Architecture: all
Depends: virtualbox (>= 4.3) | virtualbox-4.3, wget, ${misc:Depends}
Description: support for USB 2.0 devices, VirtualBox RDP and PXE boot for Intel cards
 VirtualBox requires an extension pack in order to provide support for RDP,
 as well as USB 2.0 and PXE booting for Intel network cards, etc.
 This PUEL licensed extension pack is free for personal use.
