#!/usr/bin/make -f

VERSION=5.1.14
%:
	dh  $@

override_dh_clean:
	debconf-updatepo
	dh_clean

VIRTUALBOX_VERSION=$(shell dpkg-query --show --showformat='$${version}' virtualbox | cut -f1 -d "-")

override_dh_gencontrol:
	dh_gencontrol -- \
		-Vvirtualbox:Version=$(VIRTUALBOX_VERSION) -Vvirtualbox:nextVersion=$(VIRTUALBOX_VERSION)-dfsg-z

tarball:
	mkdir virtualbox-ext-pack_$(VERSION)
	tar cJvf virtualbox-ext-pack_$(VERSION).orig.tar.xz virtualbox-ext-pack_$(VERSION)
	rm -rf virtualbox-ext-pack_$(VERSION)
	mv virtualbox-ext-pack_$(VERSION).orig.tar.xz ..
